<?php

/**
 * Creates the config object for php-cs-fixer.
 *
 * https://github.com/FriendsOfPHP/PHP-CS-Fixer
 */
return PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHP70Migration' => true,
        '@PHP70Migration:risky' => true,
        '@PHP71Migration' => true,
        '@PHP71Migration:risky' => true,

        // disabled
        'binary_operator_spaces' => false,
        'no_multiline_whitespace_around_double_arrow' => false,
        'phpdoc_summary' => false,
        'psr4' => false,
        'yoda_style' => false,

        // enabled
        'method_argument_space' => ['ensure_fully_multiline' => true],
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'doctrine_annotation_braces' => true,
        'doctrine_annotation_indentation' => true,
        'is_null' => ['use_yoda_style' => false],
        'ordered_imports' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_order' => true,
        'php_unit_construct' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->files()
            ->in(__DIR__ . '/bin')
            ->in(__DIR__ . '/src')
            ->exclude([])
            ->notName('*.dist.php')
            ->notName('*.xml')
    );
